.idea/inspectionProfiles/Project_Default.xml
.idea/material_theme_project_new.xml
.idea/misc.xml
.idea/modules.xml
.idea/operateur.iml
.idea/php.xml
.idea/phpunit.xml
.idea/prettier.xml
.idea/vcs.xml
.idea/dataSources.xml
